<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{% if page.title %}{{ page.title | strip_html }} | {% endif %}{{ site.title }}</title>

<meta property="fb:app_id" content="{{ site.fb_app_id }}" />
<meta name="twitter:site" content="@{{ site.twitter_site }}">
<meta property="og:type" content="website" />
{% assign description = page.share_text | default: site.description %}
{% if description %}
<meta name="description" content="{{ description }}">
<meta property="og:description" content="{{ description }}" />
<meta property="twitter:description" content="{{ description }}" />
{% endif %}

{% capture url %}{{site.url}}{{page.url}}{% endcapture %}
<meta property="og:url" content="{{url}}" />

{% if page.title %}
<meta property="og:title" content="{{page.title}}" />
<meta property="twitter:title" content="{{page.title}}" />
{% endif %}

{% if page.share_video %}
<meta property="og:image" content="{{page.share_video.imageURL}}" />
<meta property="og:video:url" content="{{page.share_video.embedURL}}" />
<meta property="og:video:type" content="text/html">
<meta property="og:video:width" content="1280">
<meta property="og:video:height" content="720">

<meta name="twitter:card" content="player">
<meta property="twitter:player" content="{{page.share_video.embedURL}}" />
<meta property="twitter:image" content="{{page.share_video.imageURL}}" />
<meta property="twitter:player:width" content="1280">
<meta property="twitter:player:height" content="720">
{% elsif page.share_image %}
<meta property="og:image" content="{{site.url}}{{page.share_image}}" />
<meta property="twitter:image" content="{{site.url}}{{page.share_image}}" />
<meta name="twitter:card" content="summary_large_image">
{% endif %}


{% include favicon.html %}

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : "{{site.fb_app_id}}",
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v8.0'
    });
  };
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{site.gtm_id}}');</script>
<!-- End Google Tag Manager -->

<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
<script src="/assets/js/share.js"></script>
