$theme-show-notifications: false;
$theme-color-base-family: #010315;
$theme-color-primary-family: #4598CC;
$theme-color-secondary-family: #ED2736;
$theme-color-accent-warm-family: #F99330;
$theme-color-accent-cool-family: #255CAF;
$theme-color-error-family: #AB4881;

$fa-font-path: "fonts/font-awesome/";
