.usa-footer__logo-img {
    max-width: 20rem;
}

.usa-button i {
    margin-right: 10px;
}

$messenger-blue: #0099FF;
$facebook-blue: #036ce4;
$twitter-blue: #1ea1f1;
$whatsapp-green: #009e0f;
$email-red: #D44638;
$sms-gray: #cccccc;

@mixin button-custom($color) {
    background-color: $color;
    &:hover { background-color: darken($color, 10%); }
    &:active { background-color: darken($color, 20%); };
}

.button-messenger {
    @include button-custom($messenger-blue);
}
.button-sms {
    @include button-custom($sms-gray);
}
.button-twitter {
    @include button-custom($twitter-blue);
}
.button-facebook {
    @include button-custom($facebook-blue);
}
.button-whatsapp {
    @include button-custom($whatsapp-green);
}
.button-email {
    @include button-custom($email-red);
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  60% {
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}