---
layout: default
main:
  class: desktop:grid-col-8 usa-prose
---
{% capture text %}{{page.share_text}}{% endcapture %}
{% capture url %}{{site.url}}{{page.url}}{% endcapture %}
<div class="usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap flex-align-start">
      <main class="desktop:grid-col-7" id="main-content">
        {% if page.title %}
          <h1>{{ page.title }}</h1>
        {% endif %}
        {% if page.share_video %}
          <iframe class="usa-image"
            width="560" height="315" src="{{ page.share_video.url|replace: '/watch?v=','/embed/' }}"
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
          </iframe>
        {% elsif page.share_image %}
          <img class="usa-image" src="{{ page.share_image }}">
        {% endif %}
        <div class="usa-prose">
          {{ content }}
        </div>

      </main>

      <div class="desktop:grid-col-5 usa-sticky-sidenav">
        <h1>{{page.share_header}}</h1>
        <h2>{{page.share_subhead}}</h2>
        <ul class="usa-button-group">
          <li class="usa-button-group__item">
            <a onclick='javascript:FBMessage("{{url}}", "text|escape}}");'
            class="usa-button button-messenger" target="_blank"><i class="fab fa-facebook-messenger"></i>Messenger</a>
          </li>
          <li class="usa-button-group__item">
            <a href="sms:?&body={{text}}%20{{url}}" onclick='javascript:PostShare({}, 1000, "sms");'
              class="usa-button button-sms" target="_blank"><i class="far fa-comments"></i>SMS</a>
          </li>
          <li class="usa-button-group__item">
            <a onclick='javascript:FBShare("{{url}}", "{{text|escape}}");'
              class="usa-button button-facebook" target="_blank"><i class="fab fa-facebook"></i>Facebook</a>
          </li>
          <li class="usa-button-group__item">
            <a href="https://twitter.com/intent/tweet/?text={{text|url_encode}}&url={{url|url_encode}}{% if page.share_hashtags%}&hashtags={{page.share_hashtags}}{%endif%}" onclick='javascript:PostShare({}, 1000, "twitter");'
              class="usa-button button-twitter" target="_blank"><i class="fab fa-twitter"></i>Twitter</a>
          </li>
          <li class="usa-button-group__item">
            <a href="https://wa.me/?text={{text|url_encode}}%20{{url|url_encode}}" onclick='javascript:PostShare({}, 1000, "whatsapp");'
              class="usa-button button-whatsapp" target="_blank"><i class="fab fa-whatsapp"></i>WhatsApp</a>
          </li>
          <li class="usa-button-group__item">
            <a href="mailto:?subject={{page.title}}&body={{text}}%0A%0A{{url|url_encode}}%0A%0A" onclick='javascript:PostShare({}, 1000, "mailto");'
              class="usa-button button-email" target="_blank"><i class="fas fa-at"></i>Email</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% include signup.html %}